html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}



html {
	font-size: 62.5%;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

.wrapper {
	width: 85%;
    max-width: 1020px;
	margin: 0 auto;
}

body {
    font-family: 'East Sea Dokdo', cursive;	
    color: #201E21;
    font-size: 2rem;
    /* overflow-x: hidden; */
}


/* MY FIRST ATTEMPT AT A SKIP LINK */

.skip-link {
    position: absolute;
    left: -1000px;
    top: 15px;
    z-index: 999;

    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    font-size: 15px;
    border: 2px black double;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

.skip-link:focus {
    left: unset;
    right: 10px;
}

/* ----------------------------------------------- GEN NAV STYLZ */

.burger {
    display: none;
    font-size: 3rem;
    padding-top: 20px;
}

nav ul {
    width: 50%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 0 5px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
}

nav li {
    border: 1px solid transparent;
}

nav a:hover {
    border-bottom: 1px solid black;
}

.navTop li {
    padding: 10px 20px 0 0;
    float: left;
}


/* ********************************************* */

header {
    background-image: url(./assets/group-4@2x.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
}


/*-------------------------------------- GENERAL FONT SIZE STYLZ */

h1 {
    font-size: calc(7rem + 4vw);
    line-height: 94.3px;
    padding-top: 15%;
    width: 60%;
}

h2 {
    font-size: calc(3.5rem + 3vw);
    margin: 0;
    padding: 0;
    line-height: 50%;
}

h3 {
    font-size: calc(3rem + 2vw);
    line-height: 80%;
}

p {
    font-size: calc(0.9rem + 0.8vw);
    line-height: 130%;
    font-family: 'Roboto', sans-serif;
}


/* ------------------------------------ NEW PRODUCT STYLES */
.full1 {
    background-color: #FFE9E9;
    height: 40%;
    margin: 0;
    /* padding: 50px 0; */
}
.product {
    padding: 50px 0;
}

.product img {
    margin-right: 30px;
    width: 30%;
    float: left;
}

.product div {
    margin: 0;
    width: calc(70% - 30px);
    line-height: 28px;
    float: right;
}

/*-------------------------------------- BUTTON GENERAL STYLZ */
.button {
    color: white;
    font-family: 'East Sea Dokdo', cursive;	
    font-size: 45px;
    font-size: calc(2rem + 2vw);
    border: none;
}

.blue {
    background-color: #0178A5;
}
.purp {
    background-color: #A7059B;
}

/*------------------------------------- GALLERY STYLZ */
.full2 {
    background-color: #F7DAE8;
    /* height: 70vh; */
}

.gallery {
    padding: 5% 0;
}

.gallery h2 {
    text-align: center;
}

.gallery ul {
    text-align: center;
    padding: 20px 0;
    margin: 0;
}
.gallery li {
    list-style: none;
    width: calc((100% - 80px) / 3);
    display: inline-block;

    margin-right: 35px;
}

.gallery li:nth-of-type(3n) {
    margin-right: 0;
}

/*--------------------------------------- FAVICON STYLZ */
.fullFav {
    background-color: #FFE9E9;
    padding: 50px 0;
}

.favi {
    float: left;
    position: relative;
    width: calc((100% - 80px) / 3);
    text-align: center;
    margin-right: 20px;
}

h3 {
    margin: 0;
}

.favi a {
    color: #0178A5;
    font-size: 60px;
}

/* ---------------------------------------- BLOGISH STYLZ */
.fullBlog {
    background-color: #F7DAE8;
}

.blogL {
    float: left;
    width: 50%;
}

.blogR {
    float: right;
    width: 50%;
}

.blogTextR {
    padding: 5% 0 0 5%;
}

.blogTextL {
    padding: 5% 5% 0 0;
}


/* ------------------------------------------- END STYLZ */
.end {
    background-color: #FFE9E9;
    padding: 20px 0;
    margin: 0;
}

.end h3 {
    padding-top: 0;
}

/* i really want these to align at the bottom of the section instead of aligning them with padding at top, but without flex i dont know how to do this? */
.navBottom,
.subscribe,
.address {
    float: left;
}

.address {
    text-align: right;
    width: calc(30% - 5px);
    margin-left: 5px;
}
.navBottom {
    width: 15%;
}

.end p {
    margin: 5px auto;
    font-size: calc(0.8rem + 0.6vw);
}

.subscribe {
    width: calc(55% - 5px);
    text-align: center;
    font-size: calc(0.9rem + 0.8vw);
}

.email {
    padding: 5px;
    width: 70%;
    float: left;
    height: 100%;
}

.form {
    height: 100%;
}

.form a {
    display: inline-block;
    background-color: #0178A5;
    font-size: 30px;
    width: 30%;
}


/* ----------------------------------------- FOOTER STYLES */
footer {
    clear: both;
    text-align: center;
    background-color: #201E21;
    color: white;
    padding: 5px 0;
}

footer p {
    margin: 0;
}


/* ------------------------------------------ MEDIA QUERIEZ */

@media (max-width: 940px) {

    .button {
        font-size: 35px;
    }
    .form {
        width: 100%;
    }
    nav a {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .navTop ul {
        display: none;
    }
    .burger {
        display: inline-block;
    }

    .blogL,
    .blogR {
        float: none;
        width: 100%;
        text-align: center;
    }

    .blogTextL,
    .blogTextR {
        padding: 50px 0;
    }

    .end {
        padding: 3% 0;
    }
    .navBottom,
    .subscribe,
    .address {
        float: none;
        width: 100%;
        padding-top: 5%;
        text-align: center;
    }

    .navBottom ul {
        width: 100%;
        margin-bottom: 3%;
    }

    .navBottom li {
        float: left;
        width: 25%;
    }
    /* address text centering below */
    .address p {
        float: left;
        text-align: center;
        width: calc((100% - 10px) / 3);
        padding-right: 5px;
    }

    .address p:last-child {
        padding: 0;
    }

    .email {
        width: 100%;
        padding: 5px;
        text-align: center;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .product img,
    .product div,
    .favi {
        float: none;
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }

    .gallery li {
        width: 75%;
        margin: 10px auto;
    }
}






